[Unit]
Description=Start the Cert-Checker
Requires=dbus.service
After=connman.service

[Service]
Type=simple
ExecStart=/usr/bin/cert-checker

[Install]
WantedBy=multi-user.target
